{% extends "base.html" %}    
    
    {% block content %}

      <form  method="post">
        {% csrf_token %}
        {% comment %} {{form.as_p}} {% endcomment %}

        {% for field in form %}
        <div class ="formFeilds"> {{field.label_tag}}
            {{field}} 
            {% for error in field.errors %}
                <div class='field-error'>{{error}}</div>
            {% endfor %}
        </div>
        {% endfor %}
        <button type='submit'>Post</button>
    </form>

    {{category_name}}
{% endblock %}